.cart-sc {
    cursor: pointer;
    position: fixed;
    right: 110px;
    bottom: 50px;
    height: 100px;
    width: 100px;
    background: rgb(29, 0, 107);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .4s;
}

.cart-sc .s-icon {
    font-size: 60px;
}

.cart-sc:hover {
    background: rgb(67, 0, 250);
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .cart-sc {
        right: 20px;
        bottom: 50px;
        height: 60px;
        width: 60px;
    }

    .cart-sc .s-icon {
        font-size: 40px;
    }
}

@media screen and (min-width: 600px) and (max-width:992px) {
    .cart-sc {
        right: 50px;
        bottom: 50px;
        height: 90px;
        width: 90px;
    }

    .cart-sc .s-icon {
        font-size: 50px;
    }
}