.fb-login {
    width: 400px;
    padding: 15px 20px;
    background: rgba(5, 1, 255, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(206, 206, 206);
    cursor: pointer;
}

.fb-login .fb-icon {
    font-size: 30px;
    color: blue;
}

.fb-login p {
    font-weight: 600;
    display: inline;
}

.fb-login:hover {
    background: rgb(25, 21, 255);
}

.fb-login:hover p {
    background: rgb(25, 21, 255);
    color: aliceblue;
}

.fb-login:hover .fb-icon {
    color: aliceblue;
}