.login {
    padding: 0 100px;
    margin: 10px 0;
    text-align: center;
}

.login .socialLogin {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.login .devideOr {
    margin: 20px 0;
    font-weight: 600;
}

.login .gmailLogin {
    display: flex;
    justify-content: center;
}

.login .bottomRegister-txt {
    margin: 20px 0;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .login {
        padding: 0 20px;
    }

    .login .gmailLogin {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 600px) and (max-width:992px) {
    .login {
        padding: 0 50px;
    }
}