.nav {
    background: #0D1117;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav .nav-item a {
    font-weight: 600;
    text-decoration: none;
    color: aliceblue;
    padding-left: 20px;
    cursor: pointer;
    transition: .4s;
}

.nav .nav-item a:hover {
    color: blue;
}

.nav .responsive-menu {
    display: none;
}

@media only screen and (max-width: 600px) {
    .nav {
        height: 40px;
        padding: 0 20px;
    }

    .nav .nav-item a {
        display: none;
    }

    .nav .responsive-menu {
        display: block;
        color: aliceblue;
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) and (max-width:992px) {
    .nav {
        height: 40px;
        padding: 0 50px;
    }
}